@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0D0D0D;
  color: #FFFFFF;
  font-family: 'Outfit', sans-serif;
}

.hebrew-text {
  font-family: 'IBM Plex Sans Hebrew', sans-serif;
}